chardet
jsonlines
openpyxl
orjson
xlrd
pyorc
lz4
avro
lxml
pyarrow
python-snappy
python-lzo
brotli
brotli_file
pyzstd
zstandard
pymongo
pandas
dbfread
msgpack
pyyaml
pyreadstat
protobuf
ion-python
h5py
geojson
tomli
tomli-w
deltalake
warcio
pyshp
fiona